{% extends "layout.html" %}

{% block content %}
<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/lab">Lab - Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-link" href="/addproduct_lab">Add product in lab </a>
                    <a class="btn btn-link" href="/labproduct">  Show available products from labs</a>
                </li>
            </ul>
            </div>
        </nav>
</div>

{% endblock %}
